/* Resetiranje i osnovna stilizacija */
body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

/* Osnovna tamna tema */
body.dark {
    background-color: #111827;
    color: #e5e7eb;
}

/* Card animacije */
.card-container {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s forwards;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Animacija za pojavljivanje elemenata */
@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stanje kada je lijek uzet */
.card-container.taken {
    background-color: #d1d5db; /* Svjetlo siva u svijetlom modu */
    opacity: 0.6;
}

body.dark .card-container.taken {
    background-color: #374151; /* Tamnija siva u tamnom modu */
}

/* Stil za gumbe za vrstu lijeka */
.type-button.selected {
    background-color: #4f46e5;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Modal animacija */
#add-modal.open {
    opacity: 1;
}

#add-modal.open > div {
    transform: scale(1);
    opacity: 1;
}

/* Sakrivanje ikone za tamni mod */
#dark-mode-toggle .fa-sun {
    display: none;
}
body.dark #dark-mode-toggle .fa-sun {
    display: inline;
}
body.dark #dark-mode-toggle .fa-moon {
    display: none;
}
